<div>
  <button class="btn btn-primary" (click)="src='https://images.pexels.com/photos/16138674/pexels-photo-16138674.jpeg?cs=srgb&dl=pexels-tuherdias-awang-16138674.jpg&fm=jpg&_gl=1*1xjspli*_ga*MTU4MjY0ODQ5OC4xNjgyOTY1NDM0*_ga_8JE65Q40S6*MTY4Mjk2ODU3My4yLjEuMTY4Mjk2ODk5OC4wLjAuMA..'">imagen1</button>
  <button class="btn btn-danger" (click)="src='https://images.pexels.com/photos/15364482/pexels-photo-15364482.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">imagen2</button>
</div>
<img [src]="src" alt="" />

